* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

a {
    text-decoration: none;
    color: white;
}

.container {
    height: 100%;
    display: flex;
}

.aside {
    height: 100%;
    width: 15%;
    background-color: #023E8A;
    color: white;
}

.titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 13%;
    background-color: #023E8A;
}

.dash {
    height: 100%;
    width: 85%;
    background-color: #CFFCFF;
}

.topo-main {
    height: 13%;
    background-color: #03045E;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.busca {
    display: flex;
    align-items: center;
    background-color: rgb(225, 225, 225);
    border-radius: 20px;
    padding-left: 10px;
}

.lupa {
    height: 20px;
    width: 20px;
    margin-right: 10px;
}

.filtro {
    background-color: rgb(225, 225, 225);
    height: 40px;
    width: 600px;
    border-radius: 20px;
    border: none;
    outline: none;
    color: black;
}

.dados-perfil {
    display: flex;
    align-items: center;
    gap: 20px;
}

.dados-perfil p {
    font-size: 1.5em;
    color: white;
}

.perfil {
    height: 45px;
    width: 45px;
    
}

.gerencial {
    text-align: center;
}

.gerencial>h2 {
    margin-bottom:12px ;
    margin-top:12px ;
}

.infoGen {
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
}

.infoGen:hover {
    background-color: #CAF0F8;
    color: black;
    cursor: pointer;
    transition: 0.7s;
}


.btn-sair{
    height: 50px;
    width: 15%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #023E8A;
    border: none;
    color: white;
}

.btn-sair:hover{
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    transition: 0.7s;
    color: black;
}

.logo{
    height: 230px;
    width: 300px;
}
