.gerencial {
    text-align: center;
}

.gerencial>h2 {
    margin-bottom:12px ;
    margin-top:12px ;
}

.infoGen {
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
}

.ope {
    background-color: #00B4D8;
}


